<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#643af6">
  <meta property="og:type" content="website">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="icon" href="./icon.png">
  <link rel="apple-touch-icon" href="./icon.png">
  <link rel="shortcut icon" href="./icon.png" type="image/x-icon">
  <meta itemprop="image" content="/thumb130722.jpg">
  <meta name="twitter:image" content="/thumb130722.jpg">
  <meta name="twitter:image:src" content="/thumb130722.jpg">
  <meta property="og:image" content="/thumb130722.jpg">
  <title>Link Shortener</title>
  <meta itemprop="name" content="Link Shortener">
  <meta property="og:title" content="Link Shortener">
  <meta name="twitter:title" content="Link Shortener">
  <meta itemprop="description" content="Free to use link shortener with custom short link suffix and visitors count tracking.">
  <meta property="og:description" content="Free to use link shortener with custom short link suffix and visitors count tracking.">
  <meta name="twitter:description" content="Free to use link shortener with custom short link suffix and visitors count tracking.">
  <meta name="description" content="Free to use link shortener with custom short link suffix and visitors count tracking."> 
  
   <link rel="stylesheet" type="text/css" href="/assets/style?type=css">
 </head>
 <body>
  <noscript>
   You need to enable JavaScript to run this app.
  </noscript>
  <div id="root">
   <div>
    <div class="home_bodyWrap__jvWMr">
     <div class="home_logo__K7uuG">
      <img src="https://link.roshan.cyou/icon.png">
      <span>Shorted URL</span>
      <div></div>
     </div>

<div class="home_shortCard__kFsvD">

<div class="home_shortLinkWrap__I2jak">
<div class="home_shortLinkLabel__IHjPV">
<div onclick="copyToClipboard()">Copy</div>
</div>

<div class="home_shortLink__CTKiP">
<%= base %>
</div>
  <input style="display:none" type="text" value="<%= base %>" id="copyurl">
</div>


</div>


    </div>
   </div>
  </div>
   <script>
  function copyToClipboard() {
    var copyText = document.getElementById("copyurl").value;
    navigator.clipboard.writeText(copyText).then(() => {
        // Alert the user that the action took place.
        // Nobody likes hidden stuff being done under the hood!
        alert("Copied to clipboard");
    });
  }
</script>
 </body>
</html>
