<html>
	<head>
		<title>Result | url.hxnrycz.xyz</title>
		<link rel="shortcut icon" href="/assets/style?type=img_pfp">
		<link rel="stylesheet" type="text/css" href="/assets/style?type=css">
	</head>
	<body><br><br><br><br><br><br><br><br>
		<center>
			<fieldset class="table">
				<legend><h1>Shorted URL: </h1></legend>
				<a href="<%= base %>" target="_blank"><%= base %></a><br><br>
			</fieldset>
		</center>
	</body>
    <footer>
		<p class="footer-copyright">Hxnry &copy; 2021 - <%= thisyear %></p>
	</footer>
</html>